<%= form_with url:"/change_password/proceed", method: :post do |form|%>
  <%= form.hidden_field :user_id, :value => user_id%>
  <%= form.password_field :old_password, class:"form-control", placeholder: "Enter Old Password"%>
  <br>
  <%= form.password_field :new_password, class: "form-control", placeholder: "Enter New Password"%>
  <br>
  <%= form.password_field :confirm_password, class: "form-control", placeholder: "Confirm New Password"%>
  <br>
  <%= form.submit "Submit New Password", class:"form-control btn btn-success"%>
  <p style = "color:red;" id = "change_errMsg"></p>
<% end %>
