<style>
  .swiper-slide {
    height: 250px;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .pink {
    background-color: lightpink;
  }

  .green {
    background-color: lightgreen;
  }

  .blue {
    background-color: lightblue;
  }
</style>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-lg-5">
    <a class="navbar-brand" href = "/dashboard">BTAIMS</a>
    <% user = User.find(session[:user_id])%>
    <a href = "#" style = "color:white; text-decoration:none;">Hi <%= user.username.upcase%>!</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item "><a class="nav-link active" aria-current="page" href="/dashboard">Home</a></li>
        <% if session[:user_status] == "SUBSCRIBED"%>
          <li class="nav-item"><a class="nav-link " aria-current="page" href="/pos">POS</a></li>
        <% end %>
        <li class="nav-item"><a class="nav-link" href="/account_details/profile">Account Details</a></li>
      </ul>
      <ul class="form-inline my-2 my-lg-0">
        <li class="nav-item "><a class="nav-link" aria-current="page" href="/logout" style = "color:red;">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<div style="overflow-x:hidden;" class="container-fluid text-xs-center">
  <% user = User.find(session[:user_id]) %>
  <h2 style = "text-align:center;">Welcome <%= user.username.upcase %>, to the Scalable Point of Sales System</h2>
  <br>
  <div class = "row" style = "margin:25px 25px 25px 25px;">
    <div class= "col-md-6">
      <div class="card">
        <div class="card-body"  >
          <div class="card-deck"  >
            <div class="card shadow" >
              <br>
              <h4 style = "text-align:center;"><strong>Our Vision</strong></h4>
              <p  style = "text-align:justify; margin: 25px 25px 25px 25px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies, libero eu convallis vestibulum, magna arcu semper dolor, sed sodales nisi ante in turpis. Mauris in ante quis leo ornare eleifend vel vel urna. Nunc aliquam metus nec ultrices consectetur. Duis tempus lobortis fermentum. Mauris ultricies sem vel magna efficitur, a eleifend dui ultrices. Nam varius ultricies elit ac lacinia. Nullam scelerisque malesuada consectetur. Duis ex nulla, egestas sit amet eleifend dictum, iaculis eget magna. Ut et suscipit ipsum. Fusce vitae leo tempor, placerat elit eget, blandit quam. Curabitur vestibulum fringilla massa, non viverra augue condimentum et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed nulla velit. Nullam fermentum, quam ac laoreet maximus, nisl tellus egestas arcu, ut ultrices enim sapien ullamcorper ante. Nunc tristique non eros in sodales. Donec fermentum diam eget purus rutrum ultrices.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class= "col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-deck">
            <div class="card shadow">
              <br>
              <h4 style = "text-align:center;"><strong>Our Mission</strong></h4>
              <p  style = "text-align:justify; margin: 25px 25px 25px 25px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies, libero eu convallis vestibulum, magna arcu semper dolor, sed sodales nisi ante in turpis. Mauris in ante quis leo ornare eleifend vel vel urna. Nunc aliquam metus nec ultrices consectetur. Duis tempus lobortis fermentum. Mauris ultricies sem vel magna efficitur, a eleifend dui ultrices. Nam varius ultricies elit ac lacinia. Nullam scelerisque malesuada consectetur. Duis ex nulla, egestas sit amet eleifend dictum, iaculis eget magna. Ut et suscipit ipsum. Fusce vitae leo tempor, placerat elit eget, blandit quam. Curabitur vestibulum fringilla massa, non viverra augue condimentum et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed nulla velit. Nullam fermentum, quam ac laoreet maximus, nisl tellus egestas arcu, ut ultrices enim sapien ullamcorper ante. Nunc tristique non eros in sodales. Donec fermentum diam eget purus rutrum ultrices.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="card" style = "margin: 25px 25px 25px 25px;">
    <div class="card-body">
      <div class="card-deck">
        <div class="card shadow">
          <br>
          <h4 style = "text-align:center;">Transaction Page</h4>
          <div class = "row">
            <div class = "col-md-8">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <%= image_tag("transactions index.png",alt: "Transaction Index")%>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-md-4">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <div style = "margin: 25px 25px 25px 25px">
                      <h4 style = "text-align:center;"><strong>Transaction Main Page</strong></h4>
                      <p style = "text-align:justify;">
                        The Transaction main page allows you to view all of the transactions made into your account. 
                        This also has a search function feature where you can search for a specific date of transaction and it will automatically display all related data to your search.
                        Additionally, through the transaction main page you are given options to add new transaction, view a transaction, and lastly, delete a transaction.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class = "row">
            <div class = "col-md-8">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <%= image_tag("transactions new.png",alt: "Transaction New")%>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-md-4">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <div style = "margin: 25px 25px 25px 25px">
                      <h4 style = "text-align:center;"><strong>Adding New Transaction</strong></h4>
                      <p style = "text-align:justify;">
                        In adding new transaction, there are two panels located at the top and bottom part of the page. At the top part of the page, you can see a form asking for necessary information in adding a transaction.
                        These information are the date of transaction which is by default generated by the system. Secondly would be the product name that is displayed through a dropdown menu where all of the products you listed in your product page will be showed as long as the product is still available.
                        Lastly, would be the quantity of the product bought by the customer. As for the bottom part of the page, you can see there a list of product that is already added to the customer's virtual cart.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class = "row">
            <div class = "col-md-8">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <%= image_tag("transactions view.png",alt: "Transaction View")%>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-md-4">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <div style = "margin: 25px 25px 25px 25px">
                      <h4 style = "text-align:center;"><strong>Viewing Transaction</strong></h4>
                      <p style = "text-align:justify;">
                        In viewing a transaction, all of the transaction related information such as the date of transaction, total price, status, and the list of orders on that specific transaction will be displayed.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="card" style = "margin: 25px 25px 25px 25px;">
    <div class="card-body">
      <div class="card-deck">
        <div class="card shadow">
          <br>
          <h4 style = "text-align:center;">Product Page</h4>
          <div class = "row">
            <div class = "col-md-8">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <%= image_tag("products index.png",alt: "Product Index")%>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-md-4">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <div style = "margin: 25px 25px 25px 25px">
                      <h4 style = "text-align:center;"><strong>Product Main Page</strong></h4>
                      <p style = "text-align:justify;">
                        In Product main page, all list of products will be displayed on a descending order according to the quantity of the product. Additionally, you are also given the options to search a product by its product name or product type, add new product, edit a product, and lastly delete a product.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class = "row">
            <div class = "col-md-8">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <%= image_tag("add product.png",alt: "Product New")%>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-md-4">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <div style = "margin: 25px 25px 25px 25px">
                      <h4 style = "text-align:center;"><strong>Adding New Product</strong></h4>
                      <p style = "text-align:justify;">
                        In adding new product, you will no longer be redirected to another page but the main page will display a form above the table. This form will ask for necessary information such as the product name, product type, quantity of the product, and lastly, the price of the product per unit. Once saved, the table will automatically refresh and will display the latest list of products on your account.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class = "row">
            <div class = "col-md-8">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <%= image_tag("editing product.png",alt: "Product Edit")%>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-md-4">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <div style = "margin: 25px 25px 25px 25px">
                      <h4 style = "text-align:center;"><strong>Editing Product</strong></h4>
                      <p style = "text-align:justify;">
                        In editing a product, you will no longer be redirected to another page and just like adding new product a form will be displayed above the table where the information of the product you want to edit is already filled-in the form. Additionally, you are also given an option to either update the product or cancel editing the product. Updating the product will automatically update the table below the form to display the latest list of product on your account.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="card" style = "margin: 25px 25px 25px 25px;">
    <div class="card-body">
      <div class="card-deck">
        <div class="card shadow">
          <br>
          <h4 style = "text-align:center;">Sales Page</h4>
          <div class = "row">
            <div class = "col-md-8">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <%= image_tag("sale index.png",alt: "Sale Index")%>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-md-4">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <div style = "margin: 25px 25px 25px 25px">
                      <h4 style = "text-align:center;"><strong>Sale Main Page</strong></h4>
                      <p style = "text-align:justify;">
                        In Sale Main Page, the list of sales record on your account will be displayed on the table ascendingly. Additionally, You are also given options to search a sale record according on its date, generate a sale, view a sale, and lastly, delete a sale.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class = "row">
            <div class = "col-md-8">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <%= image_tag("generate sale.png",alt: "Sale Generate")%>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-md-4">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <div style = "margin: 25px 25px 25px 25px">
                      <h4 style = "text-align:center;"><strong>Generating Sale</strong></h4>
                      <p style = "text-align:justify;">
                        In generating a sale record, you will be redirected to another page. In that page, you will see a panel just below the navigation bar. This panel will ask you for necessary information in generating a sale. These information are date of sales, beginning balance, and remarks(optional). You can change the date of sale to whatever date you want to generate a sale. However, if no payments have been made on whatever date you selected an error message will be displayed.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class = "row">
            <div class = "col-md-8">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <%= image_tag("add expense.png",alt: "Sale Adding Expenses")%>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-md-4">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <div style = "margin: 25px 25px 25px 25px">
                      <h4 style = "text-align:center;"><strong>Adding Expenses</strong></h4>
                      <p style = "text-align:justify;">
                        Adding expenses is purely optional, you can generate a sale without adding expenses. You will be automatically redirected on this page right after you generate a sale on the generate sale page. On this page, there are two panels one located at the top and one at the bottom.
                        The top part is a form which will ask for necessary information in adding an expense, these information includes the description of the expense and the amount. Once added, the table below located on the second panel will be automatically refreshed to display the list of expenses incurred.
                        Once you're finished adding expenses or not, you can just click the "Generate Sale" button and it will finalize the sales record.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class = "row">
            <div class = "col-md-8">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <%= image_tag("viewing sale.png",alt: "Sale View")%>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-md-4">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card shadow">
                    <div style = "margin: 25px 25px 25px 25px">
                      <h4 style = "text-align:center;"><strong>View Sales Record</strong></h4>
                      <p style = "text-align:justify;">
                        In viewing a sales record, you will be redirected to page where you can see three panels. The first panel is located at the top part of the screen, this panel is the largest of the three.
                        As for the second and third panel, it is the panels you can see just below the first panel, whereas, the second panel displays the list of payments received on whatever date you generated the sales record.
                        On the other hand, the third panel displays the list of expenses you incurred on whatever date you generated the sales record. As for the first panel, this panel displays the general information about the sales record.
                        These information includes, the date of sales, beginning balance, remarks, net sales, and lastly, gross sales.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
