<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Date of Transaction</th>
      <th>Total Price</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.dateOfTransaction%></td>
        <td><%= transaction.totalPrice%></td>
        <td><%= transaction.status%></td>
        <td>
          <div class = "row">
            <div class = "col-md-6">
              <a href = "/transactions/<%=transaction.id%>/view"><button class = "form-control btn btn-info">View</button></a>
            </div>
            <div class = "col-md-6">
              <%= link_to  "Delete", "/transactions/#{transaction.id}/destroy", class:"btn btn-danger form-control", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
