<div style = "margin:25px 25px 25px 25px">
<h3 style = "text-align:center;"><%= message %></h3>
<br>
  <%= form_with(model: product) do |form| %>
    <div class ="row">
      <div class = "col-md-3">
        <label for = "productName">Product Name:</label>
        <%= form.text_field :productName, class: "form-control" %>
      </div>
      <div class = "col-md-3">
        <label for = "product_type">Product Type:</label>
        <%= form.select(:product_type, ["Food","Beverage", "Medicine","Body Essential"], {include_blank: "Select Product Type"}, {class: "form-control"})%>
      </div>
      <div class = "col-md-3">
        <label for = "quantity">Quantity:</label>
        <%= form.number_field :quantity, class: "form-control", step: :any %>
      </div>
      <div class = "col-md-3">
        <label for = "pricePerUnit">Price Per Unit</label>
        <%= form.number_field :pricePerUnit,class: "form-control", step: :any %>
      </div>
    </div>
    <br>
    <div style = "margin-left: 40%; margin-right:40%;">
      <%= form.submit "Save Product", class: "form-control btn btn-success" %>
    </div>
  <% end %>
  <br>
  <div style = "margin-left: 40%; margin-right:40%;">
    <a href= "/products"><button class = "form-control btn btn-danger">Cancel</button></a>
  </div>
</div>
