<div id="<%= dom_id product %>">
  <p>
    <strong>Pos:</strong>
    <%= product.pos_id %>
  </p>

  <p>
    <strong>Productname:</strong>
    <%= product.productName %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>Priceperunit:</strong>
    <%= product.pricePerUnit %>
  </p>

</div>
