<table class="table table-hover table-bordered">
  <thead>
    <tr class = "table-active">
      <th>Product Name</th>
      <th>Product Type</th>
      <th>Stocks</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <%= render product %>
        <td>
          <div class = "row">
            <div class = "col-md-4">
              <a href = "/products/<%=product.id%>"><button class = "form-control btn btn-info"><i class="fa-solid fa-eye"></i></button></a>
            </div>
            <div class = "col-md-4">
              <%= form_with url:"/products/#{product.id}/edit", method: :post do |form|%>
                <%= form.button nil, class: "form-control btn btn-warning" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
              <% end %>
            </div>
            <div class = "col-md-4">
              <%= link_to  "Delete", product, class:"btn btn-danger form-control", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
