<div style = "margin: 25px 25px 25px 25px">
  <%= form_with url:"/sales/proceed", method: :post, model: sale do |form|%>
    <div class = "row">
      <% invalid_dateOfSales = sale.errors.include?(:dateOfSales) %>
      <div class = "col-md-4">
        <label for = "dateOfSales">Date of Sales: </label>
        <%= form.date_field :dateOfSales, :value => Date.today(), class: "form-control #{'is-invalid' if invalid_dateOfSales}" %>
        <% if invalid_dateOfSales %>
          <div class="invalid-feedback d-block">
            <% sale.errors.full_messages_for(:dateOfSales).each do |error_message| %>
              <%= error_message %>.
            <% end %>
          </div>
        <% end %>
      </div>
      <% invalid_beginningBalance = sale.errors.include?(:beginningBalance) %>
      <div class = "col-md-4">
        <label for = "beginningBalance">Beginning Balance: </label>
        <%= form.number_field :beginningBalance, class:"form-control #{'is-invalid' if invalid_beginningBalance}", step: :any %>
        <% if invalid_beginningBalance %>
          <div class="invalid-feedback d-block">
            <% sale.errors.full_messages_for(:beginningBalance).each do |error_message| %>
              <%= error_message %>.
            <% end %>
          </div>
        <% end %>
      </div>
      <div class = "col-md-4">
        <label for = "remarks">Remarks: </label>
        <%= form.text_field :remarks, class:"form-control" %>
      </div>
    </div>
    <br>
    <div style = "width;100%; text-align:center;">
      <%= form.submit "Proceed", class:"btn btn-success "%>
    </div>
  <% end %>
  <br>
  <div style = "width;100%; text-align:center;">
    <a href = "/sales"><button class = "btn btn-primary">Back to Sales</button></a>
  </div>
  <p id = "errMsg" style = "color:red; text-align:center;"></p>
</div>
