<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Date of Sales</th>
      <th>Beginning Balance</th>
      <th>Remarks</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.dateOfSales%></td>
        <td><%= sale.beginningBalance%></td>
        <td><%= sale.remarks %></td>
        <td>
          <div class = "row">
            <div class = "col-md-6">
              <a href = "/sales/<%=sale.id%>/view"><button class = "form-control btn btn-info">View</button></a>
            </div>
            <div class = "col-md-6">
              <%= link_to  "Delete", "/sales/#{sale.id}/destroy", class:"btn btn-danger form-control", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
